@import "../../vars.css";

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  position: relative;
  display: flex;
  width: 80vw;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  text-align:justify;
}

.content div{
  display: flex;
}

.title {
  font-size: 72px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-primary);

  opacity: 0;
  animation: fadeInDown 2s ease-out forwards;
}

.description {
  font-size: 30px;
  font-family: var(--font-poppins);
  margin-bottom: 52px;
}

.contactBtn {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-text-secondary);
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 12px 32px;
  max-width: 300px;
  border-radius: 4px;
  transition: all .4s ease;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 20%;
}

.contactBtn:hover {
  cursor: pointer;
  background-color: rgb(37, 37, 37);
}

.heroImg {
  width: 24%;
  border-radius: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.roll{
  display: flex;
  position: absolute;
  font-size: clamp(1px, 1vw + 10px, 1rem);
  top: 90%;
  text-decoration: none;
  color: var(--color-primary);
}

.roll img{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: 7;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.bottomBlur {
  position: absolute;
  width: 50vw;
  height: 20vw;
  min-width: 300px;
  min-width: 200px;
  top: 246px;
  right: -20vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {

  .heroImg {
    width: 80%;
  }

  .title {
    font-size: 39px;
    font-weight: 500;
    text-align: center;
  }

  .description {
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    font-family: var(--font-poppins);
    text-align: center;
  }

  .container {
    flex-direction: column-reverse;
    margin-top: 20%;
    justify-content: center;
  }

  .content {
    align-items: center;
  }

  .content div{
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    top: 246px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
  }

  .contactBtn {
    display: flex;
    width: 120px;
    height: 50px;
  }

  .roll{
    top: 99%;
  }
}
