@import "../../vars.css";

.description {
    color: var(--color-text);
    width: 40vw;
    height: 10vh;
    text-align: start;
    font-size: clamp(18px, 2vw + 10px, 24px);
    margin-bottom: 20px;
    font-weight: 100;
    font-family: var(--font-poppins);
  }


  @media screen and (max-width: 830px){

    .description {
      width: 80vw;
      height: 20vh;
      margin-bottom: 0;
    }
  }


  
  .cursor {
    display: inline-block;
    width: 6px;
    background-color: var(--color-primary);
    color: var(--color-primary);
    margin-left: 2px;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  