
.description {
    color: var(--color-text);
    font-size: clamp(18px, 2vw + 10px, 24px);
    margin-bottom: 20px;
    font-weight: 300;
    font-family: var(--font-poppins);
  }
  
  .cursor {
    display: inline-block;
    width: 6px;
    background-color: var(--color-primary);
    color: var(--color-primary);
    margin-left: 2px;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  